.hea2{
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-left: 10%;
    background-color:white;
    width:80%;
    height:20%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.ado{
    border-radius: 5px;
    margin-left:15%;
    margin-top: 5%;
}
.vdo audio
{
                  width: 100%;
                  height: 100%;
                  /* object-fit: cover; */
                  justify-content: center;
                  align-Items: center;
                  border-Radius:10px;
                  margin-left: 10%;
}
.ado1{
    /* border:2px solid black; */
    width:80%;
    padding:1% 8% 3% 5%;
}
.ado2{
    padding: 1% 5% 3% 5%;
    /* border:2px solid black; */
    width:80%;
    
}